/* p {
    background-color: blueviolet;
}

p {
    color: red;
}

body {
    background-color: silver;
}


.lines {
    background-color: green;
}


/* #main_heading {
    text-align: center;
} */

/* ctrl + space */
/* h1 {
    border: 5px solid black;
    margin-left: 40%;
    margin-right: 40%;
    font-family: 'Quicksand', sans-serif;
    /* margin-left: 100px; */
    
/* } */

/* #sectionID {
    background-color: white;
} */ 